# R specific files
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rapp.history

# RStudio project files
*.Rproj

# VS Code settings
.vscode/
*.code-workspace

# macOS system files
.DS_Store

# Reports
*.html
*.pdf

# Cache
.Rcheck/
__pycache__/
*.rds
*.RData
