# R specific files
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rapp.history

# RStudio project files
*.Rproj

# VS Code settings
.vscode/
*.code-workspace

# macOS system files
.DS_Store

# Reports
*.pdf

# Cache and temp files
.Rcheck/
__pycache__/
*.rds
*.RData

# Local scripts and utilities
launch.command
inject_folder_structure.sh
inject_dir_structure.sh


# Automation / Local Tools
fix_yaml_comments.sh
inject_dir_structure.sh
launch_auto_full.command
master.sh
temp_rmd_output.Rmd
setup_r_kaizen.py
